<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/main.css" />
  </head>
  <body>
    <div class="container-fluid bg-warning bg-gradient">
      <header>
        <div class="row py-3 align-items-center">
          <p class="h5 col-4 text-start fw-semibold"><%= technician %></p>
          <a
            href="/"
            class="h3 col-4 text-center fw-bold"
            style="text-decoration: none !important"
            >MyAlaska Manager</a
          >
        </div>
      </header>
    </div>
  </body>
</html>
